<div align="left">
    <p>Place the abstract for the publication in the area below.</p>
    <form method="POST" class="form-horizontal" action=".">
        <input type="hidden" name="domain" value="hep"/>
        <div class="form-group">

            <label>Paper Abstract</label>

            <textarea class="form-control extraction-text" name="text"></textarea>
        </div>

        <div align="center">
            <input type="submit" class="btn btn-lg btn-success btn-extract-keywords" value="Extract Keywords"/>
        </div>
    </form>
</div>