{% extends "magpie/base.html" %}
{%- block content -%}
    <div class="form-container" align="center">
        <a href="/">
            <div class="logo"></div>
        </a>

        <h4>Feedback Sent</h4>
        <p>The more you send feedback, the better our algorithms will get at extracting keywords in the future.</p>
        <br/><br/>
        <a href="/" class="btn btn-lg btn-success btn-extract-keywords">Extract Keywords from Another Publication</a>
    </div>

    <div align="center" class="links">
        <a href="/">keyword extraction tool</a> | <a href="/about">about magpie</a>
    </div>
{%- endblock -%}